<html>
    <head></head>

    <body>
        <p>

        <% unless invalid.to_i == 0 %>
            <h1 style="font-size:40px; font-weight:bold"> ERROR </h1>
            <p style="font-size:25px; font-weight:bold"> Invalid Parameters. </p>
            <div style="font-size:20px;">
                <p1> Please Enter:  </p1><br/><br/>
                <p1> &nbsp&nbsp&nbsp&nbsp&nbsp 1. A single-character true symbol </p1><br/>
                <p1> &nbsp&nbsp&nbsp&nbsp&nbsp 2. A single-character false symbol </p1><br/>
                <p1> &nbsp&nbsp&nbsp&nbsp&nbsp 3. A size greater than or equal to 2 </p1><br/>
                <p1> &nbsp&nbsp&nbsp&nbsp&nbsp 4. Differenct characters for the true and false symbols </p1><br/><br/>
            </div>
            <a style="font-size:25px" href="/"> Back To Main </a>
        <% end %>

        <% unless invalid.to_i == 1 %>
            <div id="table_header" name="table_header" style="font-size:28px; font-weight:bold">
                <% (table_size.to_i-1).downto(0).each do |num| -%><%= num %><% end -%>
                <p1> AND OR NAND NOR XOR SINGLE </p1>
            </div>
            <pre id="table_filler" name="table_filler" style="font-size:23px; margin:0px"><%= show_table %></pre>
            <br/>
            <div style="font-size:20px">
                <a href="/"> Back To Main Page </a>
            </div>
        <% end %>

    </body>

</html>
