<html>
    <head></head>
    <body>
        <form action="/display"
            <div style="font-size:20px">
                <p1> True symbol: </p1>
                <input type="text" id="truth_sym" name="truth_sym" size="20"/>
            </div>
            <div style="font-size:20px">
                <p1> False symbol: </p1>
                <input type="text" id="false_sym" name="false_sym" size="20"/>
            </div>
            <div style="font-size:20px">
                <p1> Size (2^x): </p1>
                <input type="text" id="table_size" name="table_size" size="20"/>
            </div>
            <div style="font-size:20px">
                <input type="submit" id="gen_table" name="gen_table" size="20" value="Show truth table"/>
            </div>
            <div style="font-size:20px">
                <a href="/"> Reload page </a>
            </div>
        </form>

    </body>
</html>
